<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Ingresa tu nueva contraseña{% endblock %}

{% block content %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% if validlink %}

<h1>Ingresa tu nueva contraseña</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Cambiar contraseña">
</form>

{% else %}

<p>El enlace de recuperación es inválido o ya ha sido utilizado. Por favor solicita la recuperación de tu contraseña nuevamente</p>

{% endif %}
{% endblock %}